@font-face{
    font-family: kajiro;
    src:url(font/Kajiro\ Bold.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height: 100vh;
    position: relative;
}
#back{
    width: 100%;
    height: 100%;
}
#back img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#top{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

#working{
    width: 80%;
    min-width: 1900px;
    height: 100%;
    margin: auto;
    position: relative;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    
}
#nav img{
    height: 80px;
}
#l-div{
    display: flex;
    align-items: center;
    gap: 20px;
}
#r-div{
    display: flex;
    align-items: center;
    gap: 20px;
}
#nav a{
    text-decoration:none;
    font-size: 20px;
}
#hero{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-0%,-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#hero-l{
 min-width: 50%;
 
}
#elem{
    position: relative;
    height:160px;
    overflow: hidden;
}
#elem h1:nth-child(1){
    top: 0;
}
#elem h1{
    position:absolute ;
    top: 100%;
    left: 0;
    font-family:"kajiro";
    font-size: 200px;
    line-height:.9;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 400;
    font-stretch: normal;
}
#hero-r{
    width: 16%;
}
#hero p{
    text-align:  end;
    color: #fff;
    line-height: 1;
    margin-bottom: 15px;
}
#p-two{
    margin-top: 20px;
}
#p-three{
    margin-top: 40px;
}
#image-div{
    height: 200px;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1729273789373-f17041e81224?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw0fHx8ZW58MHx8fHx8);
    background-position: center;
    background-size: cover;

    
}
button{
    margin-top: 25px;
    font-family: "kajiro";
    color: black;
    padding: 20px 40px;
    font-size: 50px;
    text-transform: uppercase;
    border: none;
}
/* Mobile Devices */
@media (max-width: 768px) {
    #nav {
        flex-direction: column;
        padding: 20px;
    }

    #nav h1 {
        font-size: 20px;
    }

    #hero {
        flex-direction: column;
        align-items: center;
    }

    #hero-l {
        min-width: 100%;
        text-align: center;
    }

    #hero-r {
        width: 100%;
        text-align: center;
    }

    #elem h1 {
        font-size: 100px; /* Smaller font for mobile */
    }

    button {
        font-size: 30px; /* Smaller button text */
        padding: 15px 30px; /* Adjust button padding */
    }
}